<section *ngIf="post">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>
                {{post.title}}
            </mat-card-title>
        </mat-card-header>

        <img mat-card-lg-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Title Image">

        <mat-card-content>
            <p>
                {{post.content}}
            </p>
        </mat-card-content>

        <ng-container *ngIf="isLoggedIn && post.published">
            <ng-container *ngFor="let user of users">
                <ng-container *ngIf="user.email === post.author">
                    <p>
                        Created by <a routerLink="/user/{{user.id}}">{{post.author}}</a>
                    </p>

                    <p>
                        on {{post.published.toDate() | date: "medium"}}
                    </p>
                </ng-container>
            </ng-container>
        </ng-container>

        <ng-container *ngIf="!isLoggedIn && post.published">
            <p>
                Created by {{post.author}}
            </p>

            <p>
                on {{post.published.toDate() | date: "medium"}}
            </p>
        </ng-container>

        <ng-container *ngIf="post.likes || post.dislikes">
            <p>
                <ng-container *ngIf="post.likes">
                    <ng-container *ngIf="post.likes.length === 1">
                        1 like
                    </ng-container>

                    <ng-container *ngIf="post.likes.length > 1">
                        {{post.likes.length}} likes
                    </ng-container>
                </ng-container>

                <ng-container *ngIf="post.likes && post.likes.length > 0 && post.dislikes && post.dislikes.length > 0">
                    &
                </ng-container>

                <ng-container *ngIf="post.dislikes">
                    <ng-container *ngIf="post.dislikes.length === 1">
                        1 dislike
                    </ng-container>

                    <ng-container *ngIf="post.dislikes.length > 1">
                        {{post.dislikes.length}} dislikes
                    </ng-container>
                </ng-container>
            </p>
        </ng-container>

        <ng-container *ngIf="currentUserEmail">
            <ng-container *ngFor="let user of users">
                <ng-container *ngIf="post.author === currentUserEmail && user.email === currentUserEmail">
                    <div class="example-button-row">
                        <mat-card-actions>
                            <button mat-raised-button color="primary" (click)="updatePost()">
                                Update
                            </button>

                            <button mat-raised-button color="primary" (click)="deletePost(user.id)">
                                Delete
                            </button>
                        </mat-card-actions>
                    </div>
                </ng-container>
            </ng-container>

            <ng-container *ngIf="post.author !== currentUserEmail">
                <ng-container *ngFor="let user of users">
                    <ng-container *ngIf="user.email === currentUserEmail">
                        <div class="example-button-row">
                            <mat-card-actions>
                                <button mat-raised-button color="primary" (click)="likePost(user.id)"
                                    [disabled]="postIsLikedByThisUser">
                                    Like
                                </button>

                                <button mat-raised-button color="primary" (click)="dislikePost(user.id)"
                                    [disabled]="postIsDislikedByThisUser">
                                    Dislike
                                </button>
                            </mat-card-actions>
                        </div>
                    </ng-container>
                </ng-container>
            </ng-container>
        </ng-container>
    </mat-card>
</section>