<h2>
    {{post.title}}
</h2>

<div>
    {{post.content}}
</div>

<div>
    Created by {{post.author}}
</div>

<ng-container *ngIf="user">
    <ng-container *ngIf="post.author === user" >    
        <button (click)="updatePost()" >
            Update
        </button>
        
        <button (click)="deletePost()" >
            Delete
        </button>
    </ng-container>

    <ng-container *ngIf="post.authoer !== user">
        <button (click)="likePost()" >
            Like
        </button>
    </ng-container>
</ng-container>