<h2 *ngIf="post.title">
    {{post.title}}
</h2>

<div *ngIf="post.content">
    {{post.content}}
</div>

<ng-container *ngFor="let user of users">
    <ng-container *ngIf="user.email === post.author">
        Created by <a routerLink="/user/{{user.id}}">{{post.author}}</a>
    </ng-container>
</ng-container>

<div>
    <ng-container *ngIf="post.likes">
        Likes: {{post.likes.length}}
    </ng-container>

    <ng-container *ngIf="post.dislikes">
        Dislikes: {{post.dislikes.length}}
    </ng-container>
</div>

<ng-container *ngIf="currentUserEmail">
    <ng-container *ngFor="let user of users">
        <ng-container *ngIf="post.author === currentUserEmail && user.email === currentUserEmail">
            <button (click)="updatePost()">
                Update
            </button>

            <button (click)="deletePost(user.id)">
                Delete
            </button>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="post.author !== currentUserEmail">
        <ng-container *ngFor="let user of users">
            <ng-container *ngIf="user.email === currentUserEmail">
                <button (click)="likePost(user.id)" [disabled]="postIsLikedByThisUser">
                    Like
                </button>

                <button (click)="dislikePost(user.id)" [disabled]="postIsDislikedByThisUser">
                    Dislike
                </button>
            </ng-container>
        </ng-container>
    </ng-container>
</ng-container>