<section>
    <ng-container *ngIf="posts">
        <h1>
            All posts
        </h1>

        <mat-card *ngFor="let post of posts" class="example-card">
            <mat-card-header>
                <mat-card-title>
                    {{post.title}}
                </mat-card-title>
            </mat-card-header>
            
            <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Title Image">
            
            <div class="example-button-row" class="centered">
                <mat-card-actions>
                    <button mat-raised-button color="primary" routerLink="/post/{{post.id}}">
                        Details
                    </button>
                </mat-card-actions>
            </div>
        </mat-card>
    </ng-container>

    <h1 *ngIf="!posts">
        No posts yet
    </h1>
</section>