<section>
    <form #form="ngForm" (ngSubmit)="onLogin(form)">
        <h2>
            Login
        </h2>

        <mat-form-field>
            <input matInput placeholder="Enter email" type="email" name="email" #email="ngModel" email ngModel required
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
        </mat-form-field>

        <br>

        <mat-form-field>
            <input matInput placeholder="Enter password" type="password" name="password" #password="ngModel" ngModel
                required [minlength]="6">
        </mat-form-field>

        <ng-container *ngIf="email.touched">
            <p class="error" *ngIf="email.errors?.['required']">
                Email is required!
            </p>

            <p class="error" *ngIf="email.errors?.['pattern']">
                Email is not valid!
            </p>
        </ng-container>

        <ng-container *ngIf="password.touched">
            <p class="error" *ngIf="password.errors?.['required']">
                Password is required!
            </p>

            <p class="error" *ngIf="password.errors?.['minlength']">
                Password must be at least 6 characters long!
            </p>
        </ng-container>

        <br>

        <button mat-raised-button color="accent" [disabled]="form.invalid">
            Login
        </button>

        <br>

        <p>
            Don't have an account?

            <a routerLink="/register">Register</a>

            instead.
        </p>
    </form>
</section>