<section *ngIf="users">
    <ng-container *ngFor="let user of users">
        <ng-container *ngIf="userFromRoute && user.email === userFromRoute.email">
            <h1 class="centered">
                {{user.email.split("").shift().toUpperCase() + user.email.split("@")[0].substring(1)}}'s profile
            </h1>

            <section class="profile-posts">
                <ng-container *ngIf="userFromRoute && userFromRoute.email !== currentUser.email">
                    <div *ngIf="!!user.posts == false && !!user.likes == false">
                        <h2 style="text-align: center;">
                            {{user.email.split("@")[0]}} hasn't liked or created any posts yet
                        </h2>
                    </div>

                    <div class="created-posts" *ngIf="!!user.posts == false && !!user.likes == true">
                        <h2 style="text-align: center;">
                            {{user.email.split("@")[0]}} hasn't created any posts yet
                        </h2>
                    </div>

                    <div class="created-posts" *ngIf="!!user.posts == true">
                        <h2 style="text-align: center;">
                            Posts
                        </h2>

                        <ng-container *ngFor="let post of posts">
                            <mat-card *ngIf="post.author == userFromRoute.email">
                                <mat-card-header>
                                    <mat-card-title>
                                        <h3 style="text-align: center;">
                                            {{post.title}}
                                        </h3>
                                    </mat-card-title>
                                </mat-card-header>

                                <div class="example-button-row">
                                    <mat-card-actions>
                                        <div class="centered">
                                            <button mat-raised-button color="accent" routerLink="/post/{{post.id}}">
                                                Details
                                            </button>
                                        </div>
                                    </mat-card-actions>
                                </div>
                            </mat-card>
                        </ng-container>
                    </div>

                    <div class="liked-posts" *ngIf="!!user.posts == true && !!user.likes == false">
                        <h2 style="text-align: center;">
                            {{user.email.split("@")[0]}} hasn't liked any posts yet
                        </h2>
                    </div>

                    <div class="liked-posts" *ngIf="!!user.likes == true">
                        <h2 style="text-align: center;">
                            Likes
                        </h2>

                        <ng-container *ngFor="let post of posts">
                            <mat-card *ngIf="post.likes && post.likes.includes(user.email)">
                                <mat-card-header>
                                    <mat-card-title>
                                        <h3 style="text-align: center;">
                                            {{post.title}}
                                        </h3>
                                    </mat-card-title>
                                </mat-card-header>

                                <div class="example-button-row">
                                    <mat-card-actions>
                                        <div class="cenetered">
                                            <button mat-raised-button color="accent" routerLink="/post/{{post.id}}">
                                                Details
                                            </button>
                                        </div>
                                    </mat-card-actions>
                                </div>
                            </mat-card>
                        </ng-container>
                    </div>
                </ng-container>


                <ng-container *ngIf="userFromRoute.email === currentUser.email">
                    <div *ngIf="!!user.posts == false && !!user.likes == false">
                        <h2 style="text-align: center;">
                            You haven't liked or created any posts yet
                        </h2>
                    </div>

                    <div class="created-posts" *ngIf="!!user.posts == false && !!user.likes == true">
                        <h2 style="text-align: center;">
                            You haven't created any posts yet.
                        </h2>
                    </div>

                    <div class="created-posts" *ngIf="!!user.posts == true">
                        <h2 style="text-align: center;">
                            Your posts
                        </h2>

                        <ng-container *ngFor="let post of posts">
                            <mat-card *ngIf="post.author == userFromRoute.email">
                                <mat-card-header>
                                    <mat-card-title>
                                        <h3 style="text-align: center;">
                                            {{post.title}}
                                        </h3>
                                    </mat-card-title>
                                </mat-card-header>

                                <div class="example-button-row">
                                    <mat-card-actions>
                                        <div class="cenetered">
                                            <button mat-raised-button color="accent" routerLink="/post/{{post.id}}">
                                                Details
                                            </button>
                                        </div>
                                    </mat-card-actions>
                                </div>
                            </mat-card>
                        </ng-container>
                    </div>

                    <div class="liked-posts" *ngIf="!!user.posts == true && !!user.likes == false">
                        <h2 style="text-align: center;">
                            You haven't liked any posts yet.
                        </h2>
                    </div>

                    <div class="liked-posts" *ngIf="!!user.likes == true">
                        <h2 style="text-align: center;">
                            Your likes
                        </h2>

                        <ng-container *ngFor="let post of posts">
                            <mat-card *ngIf="post.likes && post.likes.includes(user.email)">
                                <mat-card-header>
                                    <mat-card-title>
                                        <h3 style="text-align: center;">
                                            {{post.title}}
                                        </h3>
                                    </mat-card-title>
                                </mat-card-header>

                                <div class="example-button-row">
                                    <mat-card-actions>
                                        <div class="cenetered">
                                            <button mat-raised-button color="accent" routerLink="/post/{{post.id}}">
                                                Details
                                            </button>
                                        </div>
                                    </mat-card-actions>
                                </div>
                            </mat-card>
                        </ng-container>
                    </div>
                </ng-container>
            </section>
        </ng-container>
    </ng-container>
</section>