<ng-container *ngIf="users">
    <ng-container *ngFor="let user of users">
        <ng-container *ngIf="userFromRoute && user.email === userFromRoute.email">
            <ng-container *ngIf="userFromRoute && userFromRoute.email !== currentUser.email">
                <h1>
                    {{user.email.split("@")[0]}}'s profile
                </h1>

                <div *ngIf="!!user.posts == false && !!user.likes == false">
                    <h2>
                        {{user.email.split("@")[0]}} hasn't liked or created any posts yet.
                    </h2>
                </div>

                <div *ngIf="!!user.posts == false && !!user.likes == true">
                    <h2>
                        {{user.email.split("@")[0]}} hasn't created any posts yet.
                    </h2>
                </div>

                <div *ngIf="!!user.posts == true">
                    <h2>
                        Posts:
                    </h2>

                    <ng-container *ngFor="let post of posts">
                        <div *ngIf="post.author == userFromRoute.email">
                            <h3>
                                {{post.title}}
                            </h3>

                            <button routerLink="/post/{{post.id}}">
                                Details
                            </button>
                        </div>
                    </ng-container>
                </div>

                <div *ngIf="!!user.posts == true && !!user.likes == false">
                    <h2>
                        {{user.email.split("@")[0]}} hasn't liked any posts yet.
                    </h2>
                </div>

                <div *ngIf="!!user.likes == true">
                    <h2>
                        Likes:
                    </h2>

                    <ng-container *ngFor="let post of posts">
                        <div *ngIf="post.likes && post.likes.includes(user.email)">
                            <h3>
                                {{post.title}}
                            </h3>

                            <button routerLink="/post/{{post.id}}">
                                Details
                            </button>
                        </div>
                    </ng-container>
                </div>
            </ng-container>

            <ng-container *ngIf="userFromRoute.email === currentUser.email">
                <h1>
                    {{user.email.split("@")[0]}}'s profile
                </h1>

                <div *ngIf="!!user.posts == false && !!user.likes == false">
                    <h2>
                        You haven't liked or created any posts yet.
                    </h2>
                </div>

                <div *ngIf="!!user.posts == false && !!user.likes == true">
                    <h2>
                        You haven't created any posts yet.
                    </h2>
                </div>

                <div *ngIf="!!user.posts == true">
                    <h2>
                        Your posts:
                    </h2>

                    <ng-container *ngFor="let post of posts">
                        <div *ngIf="post.author == userFromRoute.email">
                            <h3>
                                {{post.title}}
                            </h3>

                            <button routerLink="/post/{{post.id}}">
                                Details
                            </button>
                        </div>
                    </ng-container>
                </div>

                <div *ngIf="!!user.posts == true && !!user.likes == false">
                    <h2>
                        You haven't liked any posts yet.
                    </h2>
                </div>

                <div *ngIf="!!user.likes == true">
                    <h2>
                        Your likes:
                    </h2>

                    <ng-container *ngFor="let post of posts">
                        <div *ngIf="post.likes && post.likes.includes(user.email)">
                            <h3>
                                {{post.title}}
                            </h3>

                            <button routerLink="/post/{{post.id}}">
                                Details
                            </button>
                        </div>
                    </ng-container>
                </div>
            </ng-container>
        </ng-container>
    </ng-container>
</ng-container>