<ng-container *ngIf="users">
    <ng-container *ngFor="let user of users">
        <ng-container *ngIf="user.email === userEmail">
            <ng-container *ngIf="!user.likes && !user.posts">
                <h1>
                    You haven't liked or created any posts yet.
                </h1>
            </ng-container>

            <ng-container *ngIf="user.likes || user.posts">
                <div *ngIf="!user.posts">
                    <h1>
                        You haven't created any posts yet.
                    </h1>
                </div>

                <div *ngIf="user.posts">
                    <h1>Created posts</h1>

                    <ng-container *ngFor="let post of posts">
                        <div *ngIf="post.author === user.email">
                            <h2>
                                {{post.title}}
                            </h2>

                            <button routerLink="/post/{{post.id}}">
                                Details
                            </button>
                        </div>
                    </ng-container>
                </div>

                <div *ngIf="!user.likes">
                    <h1>
                        You haven't liked any posts yet.
                    </h1>
                </div>

                <div *ngIf="user.likes">
                    <h1>
                        Liked posts
                    </h1>

                    <ng-container *ngFor="let post of posts">
                        <div *ngIf="post.likes.includes(user.email)">
                            <h2>
                                {{post.title}}
                            </h2>

                            <button routerLink="/post/{{post.id}}">
                                Details
                            </button>
                        </div>
                    </ng-container>
                </div>
            </ng-container>
        </ng-container>
    </ng-container>
</ng-container>

<!-- <ng-container *ngIf="posts">
    <div>
        <h1>Created posts</h1>

        <ng-container *ngFor="let post of posts">
            <div *ngIf="post.author === userEmail">

                <h2>
                    {{post.title}}
                </h2>

                <button routerLink="/post/{{post.id}}">
                    Details
                </button>
            </div>
        </ng-container>
    </div>

    <div *ngFor="let post of posts">
        <ng-container *ngIf="post.likes && post.likes.includes(userEmail)">
            <h1>
                Liked posts
            </h1>

            <h2>
                {{post.title}}
            </h2>

            <button routerLink="/post/{{post.id}}">
                Details
            </button>
        </ng-container>
    </div>
</ng-container> -->