<form [formGroup]="updatePostForm" (ngSubmit)="onSubmit()" novalidate>
    <div>
        <input type="text" formControlName="title" #title class="form-control" placeholder="Title" required>
    </div>

    <div>
        <input type="text" formControlName="content" #content class="form-control" placeholder="Content" required>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!!title.value.trim() == false || !!content.value.trim() == false">
        Save
    </button>

    <button type="button" (click)="returnToDetails()" class="btn btn-danger">
        Cancel
    </button>
</form>