/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    /* top: 0; */
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
    padding-top: 20px;
}

/* Control the left side */
.left {
    left: 0;
}

/* Control the right side */
.right {
    right: 0;
}

/* If you want the content centered horizontally and vertically */
.centered {
    /* position: absolute; */
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
    width: 150px;
    border-radius: 50%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

mat-card {
    margin: 0 auto;
    max-width: 700px;
}

mat-card-header {
    margin: 0 auto;
}

mat-card-content {
    margin: 0 auto;
}

.example-button-row {
    display: table;
    max-width: 600px;
    margin: 0 auto;
    
}

.example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
}

.mat-form-field {
    margin: 0 auto;
}